regex
aioredis
colorama
pycares
discord.py
aiohttp
PyNacl
cchardet
cffi
multidict
yarl
git+https://github.com/IzunaDevs/TinyURL.git@indev
git+https://github.com/IzunaDevs/consolechange.git
git+https://github.com/IzunaDevs/dbapi.git
youtube_dl
asyncpg
